/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background-color: white;
	font-family: 'Roboto Condensed', sans-serif;
}
.title{
	color:#00acee;
	font-weight: lighter;
	font-size: 25px;
}
.card{
	background-color: white;	
}

.slider{
  height: 100vh;
  width:  100vh;
}

.color{
	background:#00acee;
	color: white;
	margin: 15;
	font-weight: 700;
	font-size: 25px;
	padding-top:200px;
	padding-left: 120px;
}
.texto{
	padding-top:180px;
	padding-left: 100px;	
}
.p{
	font-weight: bold;
	font-size: 40px;
}
.p1{
	font-weight: bold;
	font-size: 20px;
}
.texto i{
	font-size:80px;
	color:#00acee;
}
h2{
	font-weight: bold;
	font-size: 40px;
}

.devise{
	font-size:80px;
	color:#00acee;
}

.text{
	font-weight: bold;
	font-size: 20px;

}

.navbar i{
	color:white;
	font-size:40px;
}
.na{
	background-color:#00acee;
}
.imgredonda img{
	border-radius: 25px;
}
.content{
	margin-left: 50px;	
}

.colorb{
	color: #00acee;
}

.ima {
	margin-left: 20px;
}
.seg{
	font-weight: bold;
}